# Python / pytest cache
__pycache__/
.pytest_cache/

# Virtuell miljö
.venv/

# Loggar
logs/*
!logs/example_etl.log

# Databas
data/*
!data/example_weather.db

# Hemligheter
.env
.env.*
!*.example

# VS Code
.vscode/

